/* Setup, and CSS reset*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

/* Navbar */

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7.5vh;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.nav-btn {
    background-color: #fff;
    width: 100%;
    height: 100%;
    outline: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #eee;
}

.nav-btn svg {
    width: 80%;
    height: 80%;
}